<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>KnacK is ready to start</title>
  <link rel="stylesheet" href="http://flip.hr/css/bootstrap.min.css">
</head>

<body>
<div class="container">
  <nav class="navbar navbar-default" role="navigation">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Knack</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="/github/consumer">Try Github</a></li>
        <li><a href="/sof/consumer">Try Stackoverflow</a></li>
        <li><a href="/gblogger/consumer">Try Blogger</a></li>
        <li><a href="#">Contact me</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">SignOut</a></li>
      </ul>
    </div>
  </nav>





  <div class="hero-unit">
    <h1>KnacK is ready to start</h1>
    <p>Hello guys want to check tech KnacK of a person, then you in right place to do that...</p>

  </div><!-- .hero-unit -->

  <div class="row">
    <div class="span4">
      <h2>GitHub</h2>
      <p>GitHub is a web-based hosting service for software development projects that use the Git revision control system. GitHub offers both paid plans for private repositories, and free accounts for open source projects. As of May 2011, GitHub was the most popular code repository site for open source projects. </p>
      <p><a class="btn" href="/github/consumer">Click me &raquo;</a></p>
    </div><!-- .span4 -->

    <div class="span4">
      <h2>StackOverFlow</h2>
      <p>Stack Overflow is a question and answer site for professional and enthusiast programmers. It's built and run by you as part of the Stack Exchange network of Q&A sites. With your help, we're working together to build a library of detailed answers to every question about programming. </p>
      <%= link_to "sof", :controller => "sof", :action => "consumer" %>
    </div><!-- .span4 -->

    <div class="span3">
      <h2>GoogleBlogger</h2>
      <p>Google Blogger helps you with the basics of creating your own blog, but you want your blog to reflect your personality, don’t you? Well, templates that you can use and adapt as your creativity dictates can be the launching pad for a blog site that is uniquely you.</p>
      <p><a class="btn" href="/gblogger/consumer">Click me &raquo;</a></p>
    </div><!-- .span4 -->

  </div><!-- .row -->
</div><!-- .container -->

</br>

<div class="container">
  <div class="row-fluid">
    <div class="span4">
      <p>&copy; 2013 <a href="#">KnacK Labs</a></p>
    </div>

  </div>
</div>

</body>
</html>





