<!DOCTYPE html>
<html>

<head>
  <meta charset='UTF-8'/>
  <link href='http://fonts.googleapis.com/css?family=Yeseva+One' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
  <style>
  body{
      background-color: #1175bf;
  }

  </style>
</head>

<body>

<div id="header">
  <div id="nav">

    <a href="#rowone" style="word-spacing:normal; color:white; font-family: 'Yeseva One', cursive; font-size:20px;">GitHub</a>
    <a href="#rowone" style="word-spacing:normal; color:white; font-family: 'Yeseva One', cursive; font-size:20px;">StackOverFlow</a>
    <a href="#rowone" style="word-spacing:normal; color:white; font-family: 'Yeseva One', cursive; font-size:20px;">GBlogger</a>
    <a href="#rowtwo" style="word-spacing:normal; color:white; font-family: 'Yeseva One', cursive; font-size:20px;">BitBucket</a>
    <a href="#rowtwo" style="word-spacing:normal; color:white; font-family: 'Yeseva One', cursive; font-size:20px;">CloudForge</a>
    <a href="#rowtwo" style="word-spacing:normal; color:white; font-family: 'Yeseva One', cursive; font-size:20px;">Linkedin</a>
    <a href="#" style="word-spacing:normal; color:white; font-family: 'Yeseva One', cursive; font-size:20px;">Contact</a>

    <%= link_to 'Signout', destroy_user_session_path,{:style => 'color: #FFFFFF',:class => "signout"}, :method => :GET %>

  </div>
</div>

<div class="container">


  <a name="rowone"></a>
  <div class="page-padding"></div>

  <div class="col-md-4">
    <div id="page1" class="github">

        <h1 class="github-title">Github</h1>


      <div class="content"><p>Rails version 2.3 was released on March 15, 2009 with major new developments in templates, engines, Rack and nested model forms. </p> </div>
      <form class="form-inline" role="form" style="text-align: center" method="post" action="git_consumer.pdf">
        <div class="form-group" >
          <input type="text" name="name" class="textfiled-git" placeholder="GitHub User Name">
        </div>
        <div class="buttons">
            <button type="reset" class="button-one" style="text-align: center">Reset</button>
             &nbsp; &nbsp; &nbsp;
            <button type="submit" class="button-two">Submit</button>
        </div>
      </form>


      <div class="power">
      <p style="text-align: center">Powered by GitHub</p>
      </div>

    </div>
  </div>

  <!--END page1-->

  <div class="col-md-4">
    <div id="page1" class="sof">

      <h1 class="sof-title">stackoverflow</h1>

      <div class="content"><p>Rails version 2.3 was released on March 15, 2009 with major new developments in templates, engines, Rack and
          nested model forms. </p></div>
      <form class="form-inline" name="form" style="text-align: center" method="post" action="sof_consumer.pdf">
        <div class="form-group">
          <input type="text" name="user_id" class="textfiled-git" placeholder="Stack Overflow User Id">
        </div>
        <div class="buttons">
          <button type="reset" class="button-one" style="text-align: center">Reset</button>
          &nbsp; &nbsp; &nbsp;
          <button type="submit" class="button-two">Submit</button>
        </div>
      </form>
      <div class="power">
        <p style="text-align: center">Powered by stackoverflow</p>
      </div>
    </div>
  </div>


  <!--END page2-->
  <div class="col-md-4">
    <div id="page1" class="blogger">

      <h1 class="blogger-title">blogger</h1>

      <div class="content">
        <p>Rails version 2.3 was released on March 15, 2009 with major new developments in templates, engines, Rack and
          nested model forms. </p></div>
      <form class="form-inline" id="form" role="form" style="text-align: center" method="post" action="blog_consumer.pdf">
        <div class="form-group">
          <input type="text" name="bloggerid" class="textfiled-git" placeholder="Blogger Id">
        </div>
        <div class="buttons">
          <button type="reset" class="button-one" style="text-align: center">Reset</button>
          <button type="submit" id="submit" class="button-two">Submit</button>
        </div>
        <div id="loading">
          <%=link_to (image_tag "load.gif")%>
        </div>
      </form>
      <div class="power">
        <p style="text-align: center">Powered by Blogger</p>
      </div>
    </div>
  </div>

  <div class="page-padding"></div>


  <div class="col-md-4">
    <div id="page2" class = "bitbucket">
      <a name="rowtwo"></a>
      <h1 class="bitbucket-title">BitBucket</h1>

      <div class="content">
        <p>Rails version 2.3 was released on March 15, 2009 with major new developments in templates, engines, Rack and
          nested model forms. </p></div>
      <form class="form-inline" name="form" style="text-align: center" method="post" action="">
        <div class="form-group">
          <input type="text" name="name" class="textfiled-git" placeholder="Bit Bucket User Name">
        </div>
        <div class="buttons">
          <button type="reset" class="button-one" style="text-align: center">Reset</button>
          &nbsp; &nbsp; &nbsp;
          <button type="submit" class="button-two">Submit</button>
        </div>
      </form>
      <div class="power">
        <p style="text-align: center">Powered by Bit Bucket</p>
      </div>


    </div>
  </div>

  <!--END page1-->
  <div class="col-md-4">
    <div id="page2" class = "cloud_forge">

      <h1 class="cloudforge-title">Cloud Forge</h1>

      <div class="content">
        <p>Rails version 2.3 was released on March 15, 2009 with major new developments in templates, engines, Rack and
          nested model forms. </p></div>
      <form class="form-inline" name="form" style="text-align: center" method="post" action="cloud_forge_consumer.pdf">
        <div class="form-group">
          <input type="text" name="name" class="textfiled-git" placeholder="Cloud Forge User Name">
        </div>
        <div class="buttons">
          <button type="reset" class="button-one" style="text-align: center">Reset</button>
          &nbsp; &nbsp; &nbsp;
          <button type="submit" class="button-two">Submit</button>
        </div>
      </form>
      <div class="power">
        <p style="text-align: center">Powered by Cloud Forge</p>
      </div>


    </div>
  </div>


  <!--END page2-->
  <div class="col-md-4">
    <div id="page2" class = "linkedin">

      <h1 class="linkedin-title">Linked in</h1>

      <div class="content">
        <p>Rails version 2.3 was released on March 15, 2009 with major new developments in templates, engines, Rack and
          nested model forms. </p></div>
      <form class="form-inline" name="form" style="text-align: center" method="post" action="linked_in_consumer.pdf">
        <div class="form-group">
          <input type="text" name="name" class="textfiled-git" placeholder="Linkedin User Name">
        </div>
        <div class="buttons">
          <button type="reset" class="button-one" style="text-align: center">Reset</button>
          &nbsp; &nbsp; &nbsp;
          <button type="submit" class="button-two">Submit</button>
        </div>
      </form>
      <div class="power">
        <p style="text-align: center">Powered by Linkedin</p>
      </div>


    </div>
  </div>

  </div>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
<script>$(document).ready(function () {
    function filterPath(string) {
        return string
                .replace(/^\//, '')
                .replace(/(index|default).[a-zA-Z]{3,4}$/, '')
                .replace(/\/$/, '');
    }

    $('a[href*=#]').each(function () {
        if (filterPath(location.pathname) == filterPath(this.pathname)
                && location.hostname == this.hostname
                && this.hash.replace(/#/, '')) {
            var $targetId = $(this.hash), $targetAnchor = $('[name=' + this.hash.slice(1) + ']');
            var $target = $targetId.length ? $targetId : $targetAnchor.length ? $targetAnchor : false;
            if ($target) {
                var targetOffset = $target.offset().top;
                $(this).click(function () {
                    $('html, body').animate({scrollTop: targetOffset}, 1500);
                    return false;
                });
            }
        }
    });
});
</script>
<script type="text/javascript">
    (function (d) {
        d.getElementById('form').onsubmit = function () {
            d.getElementById('submit').style.display = 'block';
            d.getElementById('loading').style.display = 'block';
        };
    }(document));
</script>

</body>
</html>