
<form name="form" method="post"  action="consumer1" >

  <table width="100%" height="100%" bgcolor="#E0F8F7" align="center">


    <td width="30%">User Name:<br/></td>
    <td><input type="text" size=25 maxlength=20 name="userName"></td>
    </tr>

    <tr>
      <td ><input type="Reset">
      <td ><input type="submit" value="Submit">
    </tr>

  </table>
</form>