<!DOCTYPE html>
<html>

<head>
  <title>KnacK</title>
</head>


<body>

<div class="container">
  <h1 style="color : skyblue; text-align: center "><%= image_tag("fi-icon.png",:height => "60", :width => "120", :alt => "image not found") %><font size="7">Welcome to KnacK</font></h1>

  <div class="row text-center">
    <h3 style="color : skyblue">Knack is about coder skill set reporter. KnacK use websites like Github, StackOverflow, Blogger to generate coder
      contribution</h3>  </br>
    </br>
    <div class="grow pic">
    <%= image_tag("github-logo.png", :alt => "image not found") %>
    <%= image_tag("sof-logo.png", :alt => "image not found") %>
    <%= image_tag("blogger-logo.png", :alt => "image not found") %>
    </div>  </br> </br> </br>
    <a href="/users/sign_in" class="btn btn-primary">Continue.....</a>
  </div>
</div>


</body>

</html>



