<!DOCTYPE html>
<html>
<head>
  <title>KnacK</title>
</head>
<body>


<div class="container">
<h1 style = "color : skyblue; text-align: center "><font size="7">Welcome to KnacK</font> </h1>

<div class="row text-center">
  <p>Knack is about coder skill set reporter. KnacK use websites like Github, StackOverflow, Blogger to generate coder contribution</p>  </br>
  </br>
<%= image_tag("github-logo.png", :alt => "image not found" , :height => "250", :width => "350",class: "img-thumbnail") %>  </br>   </br>
<%= image_tag("stackoverflow-logo.jpg", :alt => "image not found", :height => "250", :width => "350",class: "img-thumbnail") %> </br>    </br>
<%= image_tag("blogger-logo.jpg", :alt => "image not found", :height => "250", :width => "350",class: "img-thumbnail") %>
</div>
</div>


</body>
</html>



