<!DOCTYPE html>
<html>
<head>
  <title>KnacK</title>
</head>
<body>

<h1>Welcome to KnacK</h1>
<%= image_tag("github-logo.png", :alt => "image not found", :align => "middle" ,:height => "42", :width => "42") %>  <br>
<%= image_tag("stackoverflow-logo.jpg", :alt => "image not found") %>     <br>
<%= image_tag("blogger-logo.jpg", :alt => "image not found") %>


</body>
</html>



