<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <!--<link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">-->
  <!--<link rel="icon" href="/assets/favicon.ico" type="image/x-icon">-->
  <%= favicon_link_tag 'favicon.ico' %>
  <link href='http://fonts.googleapis.com/css?family=Exo+2' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>
  <style>
      body{
          background-color: #1175BF;
      }

      .grow {
          margin-top: 15em;
      }


      .title {
          margin-top: 10px;
          }
      .title h1 {
          font-family: 'Nunito';
          font-size: 92px;
          padding-right: 5em;
      }

      .content {


      }

      .content p {
          font-family: 'Exo 2';
          font-size: 42px;
          padding-bottom: 1.5em;
          padding-top: 1em;
          line-height: 40px;
      }


      p, h1 {
          color: #ffffff;
          text-align: center;
      }

      .container {

      }

      a.next {
           font-family: 'abstrasctikregular';
           font-size: 42px;


           text-decoration: none;
          color:#333333;
       }
      a.next:hover {text-decoration: none ; color:#909090 ;}


      h1 :hover {text-decoration: none ;color: #D0D0D0 ;}

      h1 a{
          color:#ffffff;
      }
          .slogan { font-family: 'Nunito'; font-size: 25px; color:#fff;
          position: relative; top:-20px;text-align: center; left:40px;}

          .custom-btn {
              background-color: #FFFFFF;
              color: #1175BF;
              font-size: 24px;
              padding: 0.5em 3em;
              min-width: 315px;
              border-radius: 0;
              margin-bottom:0.5em;
              text-transform: uppercase;
          }
      .custom-btn:hover {
          background-color:  #1175BF;
          color: #fff;
          border:3px solid #fff;
      }
      .logo{
          float:left;
          padding-left: 22em;
      }
  </style>

</head>
<body>
<div class="container">

  <div class = "title">
    <div class="logo"><%= image_tag('logo_white.gif',:width => 130, :height => 110, :alt => "Icon") %></div>
    <h1><a href="/users/sign_in">KnacK</a></h1>
    <h5 class="slogan">The Right Hire</h5>
  </div>




  <div class="content">
    <p>Knack is about coder skill set reporter. KnacK use websites like Github, StackOverflow and Blogger to generate coder
      contribution</p>

  </div>



  <center><a class="btn btn-primary custom-btn" href="/users/sign_in" class = "next">Get Started</a>  </center>
    <center><a class="btn btn-primary custom-btn" class = "next" data-toggle="modal" data-target="#myModal">Sample</a>  </center>
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Sample Document</h4>
        </div>
        <div class="modal-body">
          <%= image_tag("sample.jpg", :alt => "Sample Document", :height => '430', :width => '530') %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  </div>

</body>
</html>