<!DOCTYPE html>
<html>

<head>
  <title>KnacK</title>
</head>


<body>

<div class="container">

  <div style="background-image:url(http://www.html.am/images/backgrounds/background-image-2.gif);width:1160px;height:678px;border:0px solid #ccc;padding:5px;">

  <h1 style="color : blue; text-align: center "><%= image_tag("report.png",:height => "160", :width => "180", :alt => "image not found") %><font size="7">  Welcome to KnacK</font></h1>

  <div class="row text-center">
    <h3 style="color : blue ">Knack is about coder skill set reporter. KnacK use websites like Github, StackOverflow, Blogger to generate coder
      contribution</h3>  </br>
    </br>
    <div class="grow pic">
    <%= image_tag("github-logo.png", :alt => "image not found") %>
    <%= image_tag("sof-logo.png", :alt => "image not found") %>
    <%= image_tag("blogger-logo.png", :alt => "image not found") %>
    </div>  </br> </br> </br>
    <a href="/users/sign_in" class="btn btn-primary">Continue.....</a>
  </div>
</div>

</div>

</body>

</html>



