<footer class="footer">
  <small>
    <p> ©2015 codebeats, All rights not reserved. </p>
  </small>
  <nav>
    <ul>
      <li><a href="http://praaveenvr.blogspot.com">Blogs</a></li>
    </ul>
  </nav>
</footer>
