<div class="col-md-4">
  <div id="page2" class="bitbucket">
    <a name="rowtwo"></a>

    <h1 class="bitbucket-title">BitBucket</h1>

    <div class="content">
      <p>Rails version 2.3 was released on March 15, 2009 with major new developments in templates, engines, Rack and
        nested model forms. </p></div>

    <form class="form-inline" name="form" style="text-align: center" method="post" action="bit_b_consumer">
      <div class="form-group">
        <input type="text" name="name" class="textfiled-git" placeholder="Bit Bucket User Name">
      </div>
      <div class="buttons">
        <button type="reset" class="button-one" style="text-align: center">Reset</button>
        &nbsp; &nbsp; &nbsp;
        <button type="submit" class="button-two">Submit</button>
      </div>
    </form>

    <div class="power">
      <p style="text-align: center">Powered by Bit Bucket</p>
    </div>


  </div>
</div>
