<div id="header">
  <div style="word-spacing:40px;" id="nav">
    <div><h1><%= link_to "KnacK", '/' %> </h1></div>
    <a href="#rowone" style="word-spacing:normal; color:white; font-family: 'Yeseva One', cursive; font-size:20px;">GitHub</a>
    <a href="#rowone" style="word-spacing:normal; color:white; font-family: 'Yeseva One', cursive; font-size:20px;">StackOverFlow</a>
    <a href="#rowone" style="word-spacing:normal; color:white; font-family: 'Yeseva One', cursive; font-size:20px;">GBlogger</a>
    <a href="#rowtwo" style="word-spacing:normal; color:white; font-family: 'Yeseva One', cursive; font-size:20px;">BitBucket</a>
    <a href="#rowtwo" style="word-spacing:normal; color:white; font-family: 'Yeseva One', cursive; font-size:20px;">Programmers</a>
    <a href="#rowtwo" style="word-spacing:normal; color:white; font-family: 'Yeseva One', cursive; font-size:20px;">Linkedin</a>
    <a href="/direction/redirect" style="word-spacing:normal; color:#000000; font-family: 'Yeseva One', cursive;
            font-size:20px;">back</a>
  </div>
</div>
